<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Homepage</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

<script
	src="http://cdn.jsdelivr.net/webjars/jquery-tmpl/beta1.0.0/jquery.tmpl.min.js"
	th:src="@{/webjars/jquery-tmpl/beta1.0.0/jquery.tmpl.min.js}"></script>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<style type="text/css">
</style>
</head>
<body>
	<div class="container">
		<img src="./static/images/logo.png}" th:src="@{images/logo.png}" width="80" />

		<div style='float: right;'
			th:with="currentUser=${#httpServletRequest.userPrincipal?.name}">
			<div th:if="${currentUser != null}">
				<form th:action="@{/logout}" method="post">
					<input type="submit" class="btn btn-default" onclick=""
						value="Log out" />
				</form>
				<p th:text="${currentUser}">sample_user</p>
			</div>
		</div>

		<div>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand">Teach and Learn</a>
					</div>
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/teacher">Teacher</a></li>
						<li><a href="/student">Student</a></li>
						<li><a href="#">Contact</a></li>
						<li class="active"><a href="/admin">Admin</a></li>
					</ul>
				</div>
			</nav>

			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="collapse navbar-collapse">
						<form action="/admin/search" method="post"
							class="navbar-form navbar-right" role="add">
							<div class="form-group">
								<input type="text" class="form-control" name="query" id="query"
									placeholder="Search for ..." />
							</div>
							<button type="submit" class="btn btn-default" onclick="">Search</button>

						</form>

						<ul class="nav navbar-nav navbar-left">
							<li><a href="/admin/user_edit"><span
									class="btn btn-default" aria-hidden="true">Add
										user</span></a></li>
						</ul>
					</div>
				</div>
			</nav>


			<table class="table table-striped header-fixed">
				<thead>
					<tr>
						<th>Role</th>
						<th>Username
							<form action="/admin/sorted" method="post">
								<button class="glyphicon glyphicon-chevron-up" type="submit"
									name="order" value="firstAscend"></button>
								<button class="glyphicon glyphicon-chevron-down" type="submit"
									name="order" value="firstDescend"></button>
							</form>
						</th>
						<th>Password
							<form action="/admin/sorted" method="post">
								<button class="glyphicon glyphicon-chevron-up" type="submit"
									name="order" value="lastAscend"></button>
								<button class="glyphicon glyphicon-chevron-down" type="submit"
									name="order" value="lastDescend"></button>
							</form>
						</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
						<td th:text="${{user.roles}}" class="filterable-cell"></td>
						<td th:text="${{user.username}}" class="filterable-cell"></td>
						<td th:text="${{user.password}}" class="filterable-cell"></td>
						<td>
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" type="submit"
									data-toggle="dropdown">
									Select action<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a th:href="@{/admin/user_edit(id=${user.id})}">Edit
											user</a></li>
									<li><a th:href="@{/admin/user_delete(id=${user.id})}">Delete
											user</a></li>
								</ul>
							</div></td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>